.header {
    box-shadow: 0px 3px 6px #00000029;
    padding: 20px 0;
}
.main-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.banner-box-home:after {
    content: '';
    background: rgb(46 16 0 / 60%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.banner-box-home {
    height: 700px;
}
.btn {
    background: #ED7534;
    border-radius: 10px;
    color: #fff;
    transition:.3s;
    padding: 10px 64px;
    font-size: 18px;
    border: 0;
    min-width: 240px;
}
.lang-ar .btn {
    padding: 14px 5px 8px 5px;
}
.banner-box-home .btn {
    min-width: 260px;
}
.lang-ar .banner-box-home .btn {
    min-width: 260px;
    padding: 14px 5px 8px 5px;
}
.section {
    padding: 60px 0;
}

.project-box figure {
    height: 240px;
}
.product-box figure {
    height: 200px;
}
.product-box figure:after,.project-box figure:after{
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(46 16 0 / 60%);
    opacity: 0;
    transition:.3s;
}
.product-box:hover figure:after,.project-box:hover figure:after {
    opacity: 1;
}
.our-projects-banner {
    background-image: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0;
    background-position: center;
}
.overlay {
    position: relative;
}
.our-projects-banner:after, .overlay:after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    position: absolute;
}
.overlay:after {
    background:#182B4A;
    opacity: .6;
}
.footer {
    margin-top: 80px;
    background: #182B4A;
    padding: 40px 0 0 0;
}
.text-hover {
    transition: .3s;
}
.text-hover:hover {
    color:#ED7534;
}
.copy-rights {
    background:#112443;
    padding: 7px;
    margin-top: 58px;
}
.main-links a {
    position: relative;
}
.main-links a.active:after {
    content: '';
    width: 25px;
    height: 3px;
    background: #ED7534;
    border-radius: 4px 4px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -9px;
}
.page-banner {
    background-image: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0;
}
.product-box {
    width: 24%;
}
.img-text img{
    float: left;
}
.lang-ar .img-text img{
    float: right;
}
.img-text:after {
    content: '';
    clear: both;
    min-width: 1px;
    min-height: 1px;
    display: block;
}
.form-control {
    height: 44px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: 100%;
    padding: 13px 20px;
    font-size: 16px;
    font-family: "Poppins";
}
.form-control::placeholder {
    color:#6C6C6C;
}
.contact-form .form-control {
    width: 79%;
}
textarea.form-control {
    height: auto;
}
.alert {
    position: fixed;
    top: -100px;
    z-index: 999999;
    transition: .4s;
    opacity: 0;
    min-width: 200px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #4caf50;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}
.alert.active {
    top: 30px;
    opacity: 1;
}
.no-click {
    pointer-events: none;
}
.do {
    display: block!important;
}
.mo {
    display: none!important;
}
.errorpage .footer {
    margin: 0!important;
}
.footer-logo img{
    width: 204px;
    height: 40px;
}
.products-list , .project-list{
    gap: 16px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-slider img {
      height: 127px;
      cursor: pointer;
  }
@media (max-width: 767px) {
    .do {
        display: none!important;
    }
    .mo {
        display: block!important;
    }
    .banner-box-home {
        height: 600px;
    }
    .btn {
        font-size: 15px;
        padding: 10px 54px;
        min-width: 240px;
    }
    .banner-box-home .btn {
        min-width: 240px;
    }
    .section {
        padding: 40px 0;
    }
    .product-box {
        width: 48.5%;
        margin-bottom: 20px;
    }
    .our-projects-banner {
        padding: 28px 0;
    }
    .footer {
        margin-top: 60px;
        padding: 30px 0 0 0;
    }
    .copy-rights {
        padding: 9px;
        margin-top: 30px;
    }
    .burger-icon {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .lang-ar .burger-icon {
        left: auto;
        right: 0;
    }
    .header {
        padding: 20px 0;
    }
    .mobile-menu {
        position: fixed;
        z-index: 100;
        left: -100%;
        width: 100%;
        top: 0;
        height: 100%;
        transition: .3s;
        visibility: hidden;
        opacity: 0;
    }
    .mobile-menu .box {
        background: #fff;
        width: 90%;
    }
    .mobile-menu:before {
        top: 0;
        left: 0;
        backdrop-filter: brightness(.5) blur(4px);
        -webkit-backdrop-filter: brightness(.5) blur(4px);
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgb(0 0 0 / 59%);
        visibility: hidden;
    }
    .lang-ar .mobile-menu {
        left: auto;
        right: -100%;
    }
    .mobile-menu.active {
        left: 0;
        visibility:visible;
        opacity: 1;
    }
    .mobile-menu.active:before {
        visibility:visible;
        opacity: 1;
    }
    .lang-ar .mobile-menu.active {
        right: 0;
    }
    .mobile-menu a {
        font-size: 17px;
        padding:10px 25px;
        position: relative;
        color: #000000DE;
    }
    .mobile-menu a.active {
        background:#ED7534;
        color: #fff;
    }
    .mobile-menu a:after {
        /* content: ""; */
        right: 28px;
        top: 0;
        bottom: 0;
        margin: auto;
        width:6px;
        height:12px;
        background:url(../images/tick.svg) no-repeat;
        position:absolute;
    }
    .lang-ar .mobile-menu a:after {
        right: auto;
        left: 28px;
    }
    .page-banner {
        padding: 37px 0;
    }
    .aboutpage .who-we-are{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .flip-column-p {
        flex-direction: column-reverse;
    }
    .aboutpage .goals-img  {
        height: 240px;
    }
    .form-control {
        width: 100%!important;
    }
    .img-text img ,.lang-ar .img-text img{
        float: none;
        width: 100%;
        margin: 0;
    }
    .logo img {
        width: 200px;
        height: 40px;
    }
    .product-box figure {
        height: 129px;
    }
    .products-list {
        gap: 9px;
    }
    .project-list {
        gap: 0;
    }
    .product-slider {
        padding-top: 5px;
        padding-bottom: 0;
    }
    .product-slider img {
        width: 100%;
        height: 100px;
    }
    .product-slider .swiper-slide {
        width:28%;
    }
    .product-slider .swiper-wrapper {
        display:flex;
        column-gap: 10px;
        overflow-y: auto;
    }
}